/*------------------------
Screenshot Styles
------------------------*/

.screen-mock {
    background-image: url(../images/mocks/screenshot.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 476.5px;
    width: 254px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}

.screenshot-wrap {
    display: flex;
    justify-content: center;

    img {
        width: 20rem;
        margin: 0 2rem;
    }
}